body{
  background-color: #1E1E1E;
}

.blue_button {
  border: 2px solid #1355FF;
  width: 108.67px;
  background: #1355FF;
  color: white;
}

.homeMessageBg {
  background: #061237;
}

.grey_button {
  width: 141.08px;
height: 52px;

background: #F7F9FC;
border: 2px solid #F7F9FC;
color: black;

}

.opus_blue{
  color: #1355FF
}