body{
  background-color: #1E1E1E;
}

.blue_button {
  border: 2px solid #1355FF;
  width: 108.67px;
  background: #1355FF;
  color: white;
}

.homeMessageBg {
  background: #061237;
}

.grey_button {
  width: 141.08px;
height: 52px;

background: #F7F9FC;
border: 2px solid #F7F9FC;
color: black;

}

.opus_blue{
  color: #1355FF
}

.big_font_32{
  font-family: "Inter";
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.9599999785423279px;
  text-align: center;
  
}

.big_font_37{
  font-family: "Inter";
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.9599999785423279px;
  text-align: center;
  
}

.big_font_40{

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.big_font_48{

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.frank{
  left: 182px;
right: -48px;
top: 299.5px;
bottom: 0px;

background: #FFFFFF;
box-shadow: 38px 38px 104px -24px rgba(6, 18, 55, 0.04);
color: black
}