body{
  background-color: #FFFFFF;
}

.body{
  background-color: #FFFFFF;

}
.blue_bg{
  background: #1355FF;

}

.blue_button {
  border: 2px solid #1355FF;
  width: 108.67px;
  background: #1355FF;
  color: white;
}

.homeMessageBg {
  background: #061237;
}

.grey_button {
  width: 141.08px;
height: 52px;

background: #F7F9FC;
border: 2px solid #F7F9FC;
color: black;

}

.opus_blue{
  color: #1355FF
}

.big_font_32{
  font-family: "Inter";
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.9599999785423279px;
  text-align: center;
  
}

.big_font_37{
  font-family: "Inter";
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.9599999785423279px;
  text-align: center;
  
}

.big_font_40{

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}

.big_font_48{

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
.big_font_16{

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
line-height: 32px;
letter-spacing: -0.16px;

color: #37456C;


}

.frank{
  left: 182px;
right: -48px;
top: 299.5px;
bottom: 0px;

background: #FFFFFF;
box-shadow: 38px 38px 104px -24px rgba(6, 18, 55, 0.04);
color: black
}
/* .homepic{
  position: absolute;
width: 470px;
height: 387.5px;
left: 0px;
top: calc(50% - 387.5px/2);
z-index: 1;
} */
.blue_box1 {
  position: absolute;
right: 0px;
top: 0px;
width: 30%;
height: 70%;
background: #1355FF;
z-index: 1;
}

